<h1>Manage Dormer Information</h1>
<div class="row">
     <div class="col-sm-3">
          <h4>Manage Users</h4>
     </div>
     
     <div class="col-sm-3">
          <h4>Manage Permits</h4>
     </div>
     
     <div class="col-sm-3">
          <h4>Manage Accountabilities</h4>
     </div>
     
     <div class="col-sm-3">
          <h4>Manage Announcements</h4>
     </div>
</div>