  <% provide(:title, @user.name) %>
  <div class="row">
    <% if @user.admin then %>
      <%= link_to "manage database", '/admin' %>
    <% else %>
      <%= render partial: "accountOverview", locals: {user: @user} %>
  	<% end %>
    
    <!--<div class="col-md-9" id="results">-->
    <!--  <ul>-->
    <!--    <li>-->
    <!--      Name: = @user.name %>-->
    <!--    </li>-->
    <!--  </ul>-->
    <!--</div>-->
  </div>