<div class="center jumbotron">
  <% if logged_in? %>
   
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag("upvedited.png", alt: "University of the Philippines", :size => "180x180", id:"upvlogo") %>
        </div>
        <div class="col-sm-10">
          <h1 id="name">Digital Dorm Management System</h1>
          <h2 id="desc">
            Your online manager
          </h2>
          <%= link_to "Click to Log In", login_path, class: "myButton" %>
        </div>
      <div>
    </div>
  <% end %>
  <!-- , class: "btn btn-lg btn-primary"-->
</div>