<!DOCTYPE html>
<html>
     <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     </head>
     <body>
          <h3>
               sample email hello <%= user.name %>!
          </h3>
     </body>
</html>