html{
//      background: url(http://cdn.wallpapersafari.com/91/47/UxOQNR.jpg) no-repeat center center fixed;
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
    
    
//    body, .jumbotron{
//         background-color: transparent !important;
//    }
    
    .jumbotron{
          margin-top: 2%;
          background-color: #164c70;
          padding-top: 60px;
         a{
              margin-top: 3%;
         }
     }
    
    /*log-in*/

}