html{
     background: url(http://cdn.wallpapersafari.com/91/47/UxOQNR.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
//    body, .jumbotron{
//         background-color: transparent !important;
//    }
    
    .jumbotron{
         margin-top: 8%;
          color: #fff7f7;
         a{
              margin-top: 8%;
         }
    }
}