// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
/*log-in*/

     .checkbox{
       display: inline-block;
     }
     #log-in-button{
          float: right;
          margin-top: 10px;
     }
     .apply{
          margin-top: 20px;
          font-size: 12px;
     }
     
     #password_label, #email_input{
          margin-top: 5px;
          position: center;
     }
}