<footer class="footer">
  <small>
    For any inquiries, you may visit us at the University of the Philippines Visayas Tacloban College
  </small>
  <nav>
    <ul>
      <li>[TEL NO]</li>
      <li>[E ADDRESS]</li>
    </ul>
  </nav>
</footer>